<span class="acao">
    <a href="#">Fezer uma nova anotação</a>
</span>

<div class="anotacao">
    <h2>Anotacao XXX</h2>

    <p>
        dasfdsafadsfsadfsadfd<br />
        dasfdsafadsfsadfsadfd<br />
        dasfdsafadsfsadfsadfd<br />
        dasfdsafadsfsadfsadfd<br />
        dasfdsafadsfsadfsadfd<br />
    </p>

    <p>
        <a href="#">Anexo 1</a>
    </p>

    <p>
        <strong>Cridado em:</strong> <span>11:11 de 11 de novembro de 2011</span>
        <strong>Ultima atualização:</strong> <span>11:11 de 12 de novembro de 2011 </span>
    </p>

    <span class="acao">
        <a href="#">Editar</a>
    </span>
</div>

