body {
    font-family: sans, Verdana, monospace;
    font-size: 12px;
    background-image: url(imgs/bg.jpg)
}

hr {
    border: none;
    border-bottom: 1px solid #53868B;
}

label {
    margin-top: 10px;
    margin-bottom: 4px;
    float: left;
    width: 120px;
    font-weight: bold;
}

/* flash */
.flash {
    font-weight: bold;
    font-family: monospace;
    width: 100%;
    background-color: #ECF1EF;
    margin-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}


/* separations */
.odd {
    background-color: #F6F9ED;
}

.even {
    background-color: #ECF1EF;
}

.direita, .meio, .esquerda {
    float: left;
    margin-top: 20px;
    height:100%;
    width: 40%;
}

.direita {
    padding-left: 20px;
}

.meio {
    margin-top: 16%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 15%;
}

/* logout */
#logout {
    padding: 2px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #ECF1EF;
    border-left: 1px solid #53868B;
    border-bottom: 1px solid #53868B;
    right: 0;
    top: 0;
    position: fixed;
}

/* quadro */
.quadro {
    width: 666px;
    min-height: 400px;
    padding: 10px;
    margin: auto auto;
    margin-top: 20px;
    border: 10px solid #ccc;
    background-color: #fff;
}


.cabecalho-quadro {
    font-weight: bold;
}

.cabecalho-quadro {
    background-color: #5F9EA0;
    color: #fff;
    border: 1px solid #abb1c2;
}

ul.linha-quadro {
    height: 26px;
    clear: left;
}

.linha-quadro li {
    display: inline;
    float: left;
    width: 150px;
    height: auto;
    margin-left: 2px;
    margin-top: 2px;
    padding: 5px;
}

.linha-quadro li.dia-semana {
    text-align: center;
    width: 40px;
}

.quadro input[type="text"], .quadro input[type="password"] {
    -moz-border-radius: 10px;
    border: 1px solid #53868B;
    padding: 2px;
}

.linha-quadro input {
    border: none;
    margin: 0 0 0 0;
    padding: 2 2 2 2;
    width: 99%;
}

.linha-quadro .funcao {
    text-align: left;
    width: auto;
}

.linha-quadro .funcao input {
    width: auto;
    height: auto;
    color: transparent;
    background-color: transparent;
    margin-top: -9px;
}


.linha-quadro input.quantidade {
    width: 30px;
}

.linha-quadro input[type="checkbox"] {
    padding: 0;
}

li.quantidade {
    width: 40px;
    text-align: center;
}


