body {
    font-family: sans, Verdana, monospace;
    font-size: 12px;
}

hr {
    border: none;
    border-bottom: 1px solid #53868B;
}

.flash {
    font-weight: bold;
    font-family: monospace;
    padding-top: 5px;
    padding-left: 5px;
}

.odd {
    background-color: #F6F9ED;
}

.even {
    background-color: #ECF1EF;
}

#logout {
    padding: 2px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #ECF1EF;
    border-left: 1px solid #53868B;
    border-bottom: 1px solid #53868B;
    right: 0;
    top: 0;
    position: fixed;
}

.quadro {
    width: 666px;
    min-height: 400px;
    padding: 10px;
    margin: auto auto;
    margin-top: 20px;
    border: 10px solid #ccc;
    overflow-x: hidden;
    background-color: #fff;
}

.cabecalho-quadro {
    font-weight: bold;
}

.cabecalho-quadro {
    background-color: #5F9EA0;
    color: #fff;
}

.cabecalho-quadro .dia-semana {
    color: #ccc;
}

ul.linha-quadro {
    height: 26px;
    clear: left;
}

.linha-quadro li {
    display: inline;
    float: left;
    width: 150px;
    height: auto;
    margin-left: 2px;
    margin-top: 2px;
    padding: 5px;
}

.linha-quadro li.dia-semana {
    text-align: center;
    width: 40px;
}

li.quantidade {
    width: 40px;
    text-align: center;
}

.linha-quadro input {
    border: none;
    margin: 0 0 0 0;
    padding: 2 2 2 2;
    width: 99%;
}

.linha-quadro .funcao {
    text-align: left;
    width: auto;
}

.linha-quadro .funcao input {
    width: auto;
    height: auto;
    color: transparent;
    background-color: transparent;
    margin-top: -9px;
}

.linha-quadro input[type="text"] {
    -moz-border-radius: 10px;
    border: 1px solid #53868B;
    padding: 2px;
}

.linha-quadro input.quantidade {
    width: 30px;
}

.linha-quadro input[type="checkbox"] {
    padding: 0;
}

.success {
    color: green;
}

.error {
    color: red;
}

